@tailwind base;
@tailwind components;
@tailwind utilities;
.maxContent {
  width: max-content;
}
.widthFull {
  width: 1550px;
}
.displaynone {
  display: none;
}
.active {
  background: rgb(104 117 245 / var(--tw-bg-opacity));
  color: wheat;
}
